includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    exceptions:
        uncheckedExceptionRegexes: []
        uncheckedExceptionClasses:
            - Doctrine\ORM\ORMException
            - Doctrine\ODM\MongoDB\MongoDBException
            - Symfony\Component\Validator\Exception\ValidatorException
            - LogicException
            - Error
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkInternalClassCaseSensitivity: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
    checkUninitializedProperties: true
