parameters:
	ignoreErrors:
	    # We do not use the proxy query functionality of the PagerInterface
		-
			message: "#^Method Sonata\\\\ClassificationBundle\\\\Model\\\\CategoryManagerInterface\\:\\:getRootCategoriesPager\\(\\) return type with generic interface Sonata\\\\AdminBundle\\\\Datagrid\\\\PagerInterface does not specify its types\\: T$#"
			count: 1
			path: src/Model/CategoryManagerInterface.php

		-
			message: "#^Method Sonata\\\\ClassificationBundle\\\\Model\\\\CategoryManagerInterface\\:\\:getSubCategoriesPager\\(\\) return type with generic interface Sonata\\\\AdminBundle\\\\Datagrid\\\\PagerInterface does not specify its types\\: T$#"
			count: 1
			path: src/Model/CategoryManagerInterface.php

