parameters:
    ignoreErrors:
        - # NEXT_MAJOR: Remove this issue
            message: "#^Trying to mock an undefined method getId\\(\\) on class Sonata\\\\ClassificationBundle\\\\Model\\\\CategoryInterface\\.$#"
            count: 3
            path: tests/Block/Service/AbstractCategoriesBlockServiceTest.php
        - # NEXT_MAJOR: Remove this issue
            message: "#^Trying to mock an undefined method getId\\(\\) on class Sonata\\\\ClassificationBundle\\\\Model\\\\CollectionInterface\\.$#"
            count: 3
            path: tests/Block/Service/AbstractCollectionsBlockServiceTest.php
        - # NEXT_MAJOR: Remove this issue
            message: "#^Trying to mock an undefined method getId\\(\\) on class Sonata\\\\ClassificationBundle\\\\Model\\\\TagInterface\\.$#"
            count: 3
            path: tests/Block/Service/AbstractTagsBlockServiceTest.php
        - # NEXT_MAJOR: Remove this issue
            message: "#^Call to static method getInstance\\(\\) on an unknown class Sonata\\\\EasyExtendsBundle\\\\Mapper\\\\DoctrineCollector\\.$#"
            count: 1
            path: src/DependencyInjection/SonataClassificationExtension.php
