<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://symfony.com/schema/routing" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/routing https://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="get_contexts" path="/contexts.{_format}" methods="GET" controller="Sonata\ClassificationBundle\Controller\Api\ContextController::getContextsAction" format="json">
        <requirement key="_format">json|xml|html</requirement>
    </route>
    <route id="get_context" path="/contexts/{id}.{_format}" methods="GET" controller="Sonata\ClassificationBundle\Controller\Api\ContextController::getContextAction" format="json">
        <requirement key="_format">json|xml|html</requirement>
    </route>
    <route id="post_context" path="/contexts.{_format}" methods="POST" controller="Sonata\ClassificationBundle\Controller\Api\ContextController::postContextAction" format="json">
        <requirement key="_format">json|xml|html</requirement>
    </route>
    <route id="put_context" path="/contexts/{id}.{_format}" methods="PUT" controller="Sonata\ClassificationBundle\Controller\Api\ContextController::putContextAction" format="json">
        <requirement key="_format">json|xml|html</requirement>
    </route>
    <route id="delete_context" path="/contexts/{id}.{_format}" methods="DELETE" controller="Sonata\ClassificationBundle\Controller\Api\ContextController::deleteContextAction" format="json">
        <requirement key="_format">json|xml|html</requirement>
    </route>
</routes>
