{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-default panel-tag-list">
        {% if settings.title is not empty %}
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-tags"></i> {{ settings.title }}</h4>
            </div>
        {% endif %}

        <div class="panel-body">
            {% if tags|length %}
                {% for t in tags %}
                    {% block tag_link %}
                        <span class="label label-default"><i class="fa fa-tag"></i> {{ t.name }}</span>
                    {% endblock %}
                {% endfor %}
            {% else %}
                <p>{{ 'no_tags_found'|trans({}, 'SonataClassificationBundle') }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
